/* STYLE ARRIERE PLAN AVEC DEGRADE */
html, body 
{
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
  }
  
  #ville
  {
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: #000000 1px 0 10px;
  }

  #entetes 
  {
    font-size: 4em;
    padding-bottom: 20px;
  }
  
  /* TAILLE PLUS ELEVEE TEMPERATURE RESSENTIE */
  #temperature_ressentie
  {
    font-size: 1.5em;
  }

  /* STYLE DU BOUTON */
  #changer 
  {
    background: rgba(219, 0, 248, 0.103);
    cursor: pointer;
  }